.wrapper {
    padding: 28px;
    max-height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.scan-area {
    margin-bottom: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.scan-area>div {
    width: 30%;
    margin-right: 15px;
}

.loading-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.loading-wrapper>span {
    margin-right: 10px;
}